.heading{
    text-align: center;
}
.login-panel{
    margin-top: 20vh;
}
.image-logo{
    text-align: center;
    display: inline !important;
}
.box{

    background-color:aliceblue;
    height: 400px;
    overflow:scroll;
}

/* .float-message{
    float: left;
}

.clear{
    clear: both;
} */