.heading{
    text-align: center;
}
.login-panel{
    margin-top: 20vh;
}
.image-logo{
    text-align: center;
    display: inline !important;
}
.box{

    background-color:aliceblue;
    height: 400px;
    overflow:scroll;
}

.header-caption{
    text-align: center;
}
.parent{
    background-image:url(./assets/elearning3.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    height: 550px;
}
